
.orderCheckout {
  
  & .container {
    position: relative;
  }
  
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 6rem;

  &__title {
    margin-top: 1rem;
    border-bottom: thin solid #b6bcc8;
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;

    @include mq(medium) {
      margin-top: 3rem;
    }
  }

  .order-table td:first-of-type {
    width:25%;
  }
  .order-table {
      position:relative;
      font-family: $font-roboto;
  }
  .line {
    height:1px;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    background:#ddd;
  }
  .order-table td:last-of-type {
    vertical-align:top;
    padding-left:25px;
  }

  .full-width {
    width:100%;
  }

  .thin {
    font-weight:400;
  }
  .small {
    font-size:12px;
    font-size:.8rem;
  }

  .price {
    bottom:0px;
    position:absolute;
    right:0px;
    font-weight: bold;
  }
  .line {
    height:1px;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    background:#ddd;
  }
  .total {
    margin-top: 1rem;
    font-weight: bold;
  }

  .confirmOrder {
    @include button();
    position: absolute;
    left: 0;
    bottom: -7.5rem;
    left: 50%;
    transform: translateX(-50%);

    @include mq(medium) {
      bottom: -4rem;
      transform: translateX(0%);
      left: 12.5rem;
    }
  }

  .payments {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -11rem;
    
    @include mq(medium) {
      bottom: -4rem;
      transform: translateX(0%);
      left: 26rem;
    }
    &__button {
      @include button();
    }
  }
}