.shop {
  text-align: center;

  &__title {
    font-weight: 900;
    padding: 2.2rem;
    font-size: 2.5rem;
    letter-spacing: -2px;

    @include mq(medium) {
      padding: 3rem;
      font-size: 3.6rem;
    }
  }
}
