@mixin button() {
  padding: 0 2.8rem;
    height: 3rem;
    border: none;
    color: $white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.75rem;
    text-align: center;
    position: relative;
    transition: all .15s ease;
    background-color: rgba($black,.75);
    cursor: pointer;

    &:hover::before {
      width: 100%;
      transform: skew(0deg);
      left: 0;
      transition: all .3s ease;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 20px;
      height: 100%;
      transform: translateX(-50%) skew(20deg);
      background-color: rgba($black,.3);
      z-index: -10;
    }

    &:disabled {
      background-color: $grayish-blue;
    }
}