.adminCP{
    &__button {
        padding: 0 1rem;
        margin: 0 5px;
        height: 2.3rem;
        border: none;
        color: $white;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.75rem;
        text-align: center;
        position: relative;
        transition: all .15s ease;
        background-color: rgba($black,.75);
        cursor: pointer;
    
        &:hover::before {
          width: 100%;
          transform: skew(0deg);
          left: 0;
          transition: all .3s ease;
        }
    
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 20px;
          height: 100%;
          transform: translateX(-50%) skew(20deg);
          background-color: rgba($black,.3);
          z-index: -10;
        }
        &:disabled {
            background-color: $grayish-blue;
          }
      }
}
.adminContainer{
    margin-left: 60px;
    margin-top: 20px;
}
.adminSubComp{
    height: 100%;
    margin: 20px 20px 0 20px;
}
.componentTitle{
    margin: 30px 0 30px;
    width: 100%;
    font-size: 40px;

    &__button {
        float: right;
        margin-right: 2rem;
        @include button();
    }
}
.adminTable{
    overflow-y: scroll;
    height: 550px;
}
.editForms{
    overflow-y: scroll;
    height: 800px;
}
.noDataFound{
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.tableHeader, .userHeader{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    padding-right: 20px;
    margin-right: 20px;
    :nth-child(odd){
        width: 20%;
        text-align: center;
    }
    :nth-child(even){
        width: 20%;
        text-align: center;
    }
}
.userHeader{
    :nth-child(odd){
        width: 20%;
        text-align: center;
    }
    :nth-child(even){
        width: 20%;
        text-align: center;
    }
    div:nth-child(4){
        width: 40%;
        text-align: center;
    }
}

.prodList, .itemList {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    align-items: center;
    margin: 10px 0;
    margin-right: 20px;
    border: 1px solid $grayish-blue;
    background-color: $light-grayish-blue;
}
.prodList{
    div:nth-child(odd){
        width: 20%;
        text-align: center;
    }
    div:nth-child(1){
        width: 20%;
        text-align: left;
        padding-left: 20px;
    }
    div:nth-child(even){
        width: 20%;
        text-align: center;
    }
    div:nth-child(2){
        padding-left: 150px;
        text-align: left;
    }
}

.itemList{
    div:nth-child(odd){
        width: 20%;
        text-align: center;
    }
    div:nth-child(even){
        width: 20%;
        text-align: center;
    }
}

.textEditor {
    max-width: 900px;
    height: 592px;
    display: block;
    border: 1px solid $grayish-blue;
}
.editorDash {
    display: flex;
    justify-content: center;
}

.editorBox{
    padding: 10px 20px;
}