
//botones de opcion
.option-button{
    display: flex-inline;
  padding: 0.5em 1.7em;
  margin: 5px;
    height: 70px;
    width: 180px;
  border:  solid rgb(198, 199, 201);
  border-radius: 2em;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: hsl(0, 0%, 0%);
  text-shadow: 0 0.04em 0.04em rgb(255, 255, 255);
  text-align: center;
  transition: all 0.2s;
    cursor: pointer;
    align-self: flex-end;
align-content: space-around;
align-items: flex-start;

    }
//cambio boton opcion al pasar por arriba
    .option-button:hover{
        background-color: rgb(198, 199, 201);
        color: white;
        border: solid rgb(0, 183, 255);
    }

    .option-button:active{
        background-color: rgb(0, 183, 255);
        color: white;
        border: solid rgb(0, 183, 255);
    }
    .react-chatbot-kit-chat-bot-avatar-letter {
    font-size: 1.5em;
    
    }
    .react-chatbot-kit-chat-bot-avatar-letter:hover {
    color: rgb(0, 183, 255);
    }
    ///Bot Avatar
    .Bot-Avatar{
      height: 105px;
      width: 105px;
      border-radius: 25px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
    
    .orders{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2em;
      color: #000;
    }
    
    .chatIcon{
      height: 150px;
      width:150px;
      border-radius: 25px;
      background-color: transparent;
      display: flex-inline;
      justify-content: center;
      align-items: flex-end;
    }
    
    