
.dashboardUser {
  > .container {
    margin-top: 1rem;
    

    @include mq(medium) {
      display: flex;
      justify-content: center;
      margin-top: 2.5rem;
    }

    * + * {

      margin-top: .5rem;

      @include mq(medium) {
        margin-left: 1.5rem;
        margin-top: 0;
      }
    }
  }

  &__item {
    list-style-type: none;
    text-align: center;
  }

  &__link {
     color: #68707d;
     display: inline-block;
     width: fit-content;

     &.active {
      border-bottom: 2px solid $orange;
      padding-bottom: .5rem;
      color: $very-dark-blue
    }
  }
}