.formWrapper{
    background-color: #ececec;
    width: 100%;
}
.addedCat{
    margin-top: 20px;
    min-height: 40px;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.catContainer{
    margin: 5px;
    width: auto;
    height: 25px;
    background-color: #c6c7c9;
    border: none;
    color: black;
    display: flex;
    align-items: baseline;
    text-align: center;
    padding-left: 15px;
}
.deleteCat{
    background-color: $black;
    color: #ececec;
    font-weight: 600;
    padding-top: 1px;
    width: 25px;
    height: 25px;
    float: right;
    margin-left: 10px;
}
.deleteCat:hover{
    cursor: pointer;
}