.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.resetPassword.login {
  width: 100%;
  max-width: 400px;

  label.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    margin-bottom: 0.75rem;

    input {
      width: 20px;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }

  .btn-google {
    background-color: $white;
    margin-top: 0.75rem;
    justify-content: center;

    &:hover {
      background-color: $grayish-blue;
    }

    &::before {
      content: none;
    }
  }
}
