
.order {
  display: block;
  box-shadow: 0 5px 10px rgba(50, 50, 93, 0.1), 0 5px 10px rgba(0, 0, 0, 0.07);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dadada;
  color: $very-dark-blue;
  margin-bottom: 1.5rem;

  @include mq(medium) {
    margin-bottom: 0;
  }

  &__item {
    * {
     display: block;
   }

   div {
     display: flex;
     align-items: center;
     font-weight: bold;
     margin-bottom: .5rem;

     span {
       font-weight: normal;
       font-family: $font-roboto;
       margin-left: .2rem;
       margin-bottom: 0;
     }
   }
  }
}