.orders {
  margin-bottom: 3rem;
  &__wrapper {

    @include mq(medium) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1.5rem;
    }
  }

  &__title {
    margin: 3rem 0;
    border-bottom: thin solid #b6bcc8;
    padding-bottom: .5rem;
    text-align: center;
  }
}