.products {
  display: grid;
  grid-template-columns: 1fr;

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    padding: 0 0.75rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $black;

    figure {
      width: 224px;
      height: 224px;
      img {
        height: 100%;
        object-fit: contain;
      }
    }

    h3 {
      margin-top: 1rem;
      line-height: 1.5;
      font-weight: normal;
      font-size: 1rem;
    }
  }
}
