
.productDetail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  &__image {
    margin-bottom: 2rem;
    @include mq(medium) {
      margin-right: 2rem;
    }

    img {
      object-fit: contain;
    }
  }

  &__description {

    * + * {
      margin-top: .5rem;
      font-size: 1.1rem;
    }

    .name {
      border-bottom: thin solid $grayish-blue;
      padding-bottom: 1.2rem;
      text-transform: uppercase;
    }
    .price {
      display: block;
      font-size: 1.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .stock span,
    .rating span {
      font-weight: bold;
    }

    .categories {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      * + * {
        margin-left: .5rem;
        margin-top: 0;
      }

      li {
        border-radius: 99px;
        padding: .1rem 1rem;
        color: $white;
        background: #c6c7c9;
        line-height: 35px;
        color: $black;
        text-align: center;
      }
    }

    .addBtn,
    .updateBtn button {
      width: 100%;

      @include mq(medium) {
        width: auto;
      }
    }

    .updateBtn button {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  button {
    &:first-of-type {
      margin-right: .5rem;
    }

    @include button();
    margin-top: 1.5rem;
  }
}