
.productDetail {
  margin-top: 2rem;

  @include mq(medium) {
    display: flex;
  }

  &__image {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

    @include mq(medium) {
      justify-content: flex-start;
      margin-right: 3rem;
      flex-basis: 30%;
    }

    img {
      object-fit: contain;
      justify-self: flex-start;
    }
  }

  &__description {

    @include mq(medium) {
      flex-basis: 70%;
    }

    * + * {
      margin-top: .5rem;
      font-size: 1.1rem;
    }

    .name {
      border-bottom: thin solid $grayish-blue;
      padding-bottom: 1.2rem;
      text-transform: uppercase;
      // width: 650px;
    }
    // .description {
    //   width: 650px;
    // }
    .price {
      display: inline-block;
      font-size: 1.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .price-discount {
      display: block;
      font-size: 1.5rem;
      text-decoration:line-through;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: $grayish-blue;
    }
    .discount {
      padding: 0 10px;
      font-size: 1.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(22, 199, 22);
    }

    .stock span,
    .rating span {
      font-weight: bold;
    }

    .categories {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @include mq(medium) {
        justify-content: flex-start;
      }

      * + * {
        margin-left: .5rem;
        margin-top: 0;
      }

      li {
        padding: .1rem 0.8rem;
        color: $white;
        background: #c6c7c9;
        line-height: 20px;
        color: $black;
        text-align: center;
        font-size: .9rem;
        margin-bottom: .5rem;
      }
    }

    .addBtn,
    .updateBtn button {
      width: 100%;

      @include mq(medium) {
        width: auto;
      }
    }

    .updateBtn button {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  button {
    &:first-of-type {
      margin-right: .5rem;
    }

    @include button();
    margin-top: 1.5rem;
  }
}

.wrapper-reviews {
  margin: 1rem 0;
  // max-width: 670px;

  @include mq(medium) {
    width: 65.5%;
    margin-left: auto;
    margin-top: 2rem;
  }

  @include mq(large) {
    width: 67%;
    margin-left: auto;
    margin-top: 2rem;
  }
}