
.resetPassword {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  margin: 3rem auto;
  padding: 0 1rem;

  &__title {
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 2.5rem;
    padding: 2rem 0;
    padding-top: 0;
    font-family: "Kumbh Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  & input {
    box-shadow: none;
    color: #383838;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
    height: 50px;
    background-color: #f6f6f6;
    border: thin solid #ddd;
    font-size: 14px;
    margin-bottom: .75rem;
  }

  button {
    @include button();
    width: 100%;
  }

  .error {
    display: inline-block;
    color: tomato;
    margin: 0.7rem 0;
    margin-top: 0;
    font-size: 0.9rem;
    font-style: italic;
  }
}