.reviews{
  
  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  .review {
    border-bottom: 1px solid $grayish-blue;
  }
  
  div {
    margin: .5rem 0;
    font-family: $font-roboto;
  }

  span {
    font-weight: bold;
    font-size: 1rem;
  }

  &__comment {
    display: flex;
    overflow: hidden;
    .comment {
      margin-left: .2rem;
      font-weight: normal;
      margin-bottom: .5rem;
    }
  }
  &__btn {
    @include button();
    margin-left: .5rem;
    height: 1.8rem;
    padding: 0 .5rem;
  }
}

.reviewAndRating {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  button {
    @include button();
  }

  &__rating {
    display: flex;
    align-items: end;
    margin: .75rem 0;
  }

  .rating-number {
    display: inline-block;
    margin-left: .2rem;
  }

  textarea {
    padding: .5rem;
    font-size: 1rem;
  }
}
