
.shoppingCart {
  position: absolute;
  top: 6rem;
  right: 2rem;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 1px 1px 5px $black;
  background-color: $white;
  width: 400px;

  &__header {
    display: flex;
    flex-direction: row;
  }
  &__close {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-weight: bolder;
    background-color: $orange;
    width: 25px;
    height: 25px;
    padding: 2px 6px;
    color: $white;
    border-radius: 99px;
  }

  &__title {
    padding: 1rem 0;
    text-indent: 20px;
  }

  &__empty {
    padding: 20px;
    text-align: center;
  }

  &__total {
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
  }

  &__button {
    display: block;
    margin-bottom: 0;
    background-color: $orange;
    color: $white;
    font-weight: bold;
    width: 90%;
    margin: 1rem auto;
    border-radius: 15px;
    text-align: center;
    padding: .5rem;

    &:hover {
      background-color: lighten($orange, 5);
    }
  }

  &__product {
    padding: .5rem 1rem;
    display: grid;
    grid-auto-columns: 20% 60% 20%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: .5rem;

    .image {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    .name {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-size: .95rem;
      font-weight: normal;
    }
    .price {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: flex;
      align-items: center;

      .amount {
        font-weight: bold;
        margin-left: .5rem;
        font-size: .95rem;
      }

      .buttons {
        display: flex;
        align-items: center;
        background-color: $light-grayish-blue;
        border-radius: 10px;

        * {
          margin-right: .5rem;
        }
        button:last-of-type {
          margin-right: 0;
        }

        button {
          border: none;
          color: $orange;
          background-color: transparent;
          font-weight: bold;
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
    .delete {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}