
.wishlist {
  margin: 2rem 0;

  .visited__item {
    h2 {
      font-size: 1rem;
    }
  }

  &__price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .75rem 0;
    background-color: $light-grayish-blue;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 1rem;

    span {
      display: inline-block;
      font-size: .9rem;

      &:first-child {
        display: inline-block;
        margin-right: 0.5rem;
        font-weight: bold;
        font-family: $font-roboto;
        font-size: 1rem;
      }
    }

    button {
      background-color: $black;
      color: $white;
      border: none;
      outline: none;
      padding: 0.3rem 0.6rem;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}