// base
@import './base/variables';
// mixins
@import './mixins/media-queries';
@import './base/reset';
@import './mixins/button';
// components
@import './components/navbar';
@import './components/footer';
@import './components/menu';
@import './components/login';
@import './components/products';
@import './components/searchBar';
@import './components/productDetail';
@import './util/title';
@import './util/field';
@import './components/paginate';
@import './components/shoppingCart';
@import './components/navbarLogin';
@import './components/orderShipping';
@import './components/orderDetails';
@import './components/orders';
@import './components/order';
@import './components/dashboardUser';
@import './components/userAccount';
@import './components/resetPassword';
@import './components/reviews';
@import './components/frecuentlyVisited';
@import './components/slider';
@import './components/payments';
@import './components/chatbot';
@import './components/footer';
@import './components/about';
@import './components/wishlist';
@import './components/sucursales';

//admincp
@import './admincp/adminPanel';
@import './admincp/adminSideBar';

// pages
@import './pages/shop';
@import './pages/register';
@import './pages/createProduct';
@import './pages/updateProduct';
@import './pages/checkout';

// bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './components/form';
