// base
@import './base/variables';
// mixins
@import './mixins/media-queries';
@import './base/reset';
@import './mixins/button';
// components
@import './components/navbar';
@import './components/menu';
@import './components/login';
@import './components/products';
<<<<<<< HEAD
@import "./components/searchBar";
@import "./components/productDetail";
@import "./util/title";
@import "./util/field";
@import "./components/paginate";
@import "./components/shoppingCart";
@import "./components/navbarLogin";
@import "./components/orderShipping";
@import "./components/orderDetails";
@import "./components/orders";
@import "./components/order";
@import "./components/dashboardUser";
@import "./components/userAccount";
@import "./components/resetPassword";
@import "./components/reviews";
@import "./components/frecuentlyVisited";
@import "./components/chatbot";
=======
@import './components/searchBar';
@import './components/productDetail';
@import './util/title';
@import './util/field';
@import './components/paginate';
@import './components/shoppingCart';
@import './components/navbarLogin';
@import './components/orderShipping';
@import './components/orderDetails';
@import './components/orders';
@import './components/order';
@import './components/dashboardUser';
@import './components/userAccount';
@import './components/resetPassword';
@import './components/reviews';
@import './components/frecuentlyVisited';
@import './components/slider';
@import './components/payments';
>>>>>>> development

//admincp
@import './admincp/adminPanel';
@import './admincp/adminSideBar';

// pages
@import './pages/shop';
@import './pages/register';
@import './pages/createProduct';
@import './pages/updateProduct';
@import './pages/checkout';

// bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './components/form';
