// base
@import './base/variables';
@import './base/reset';
// mixins
@import './mixins/media-queries';
// components

body {
  background-color: peru;
}

@import './components/navbar';
@import './components/menu';
@import './components/login';