// base
@import './base/variables';
// mixins
@import './mixins/media-queries';
@import './base/reset';
@import './mixins/button';
// components
@import './components/navbar';
@import './components/menu';
@import './components/login';
@import './components/products';
@import "./components/searchBar";
@import "./components/productDetail";
@import "./util/title";
@import "./util/field";
@import "./components/paginate";
@import "./components/shoppingCart";
@import "./components/navbarLogin";
//@import "./components/reviews";

//admincp
@import "./admincp/adminPanel";
@import "./admincp/adminSideBar";

// pages
@import './pages/shop';
@import "./pages/register";
@import "./pages/createProduct";
@import "./pages/updateProduct";

// bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './components/form';